<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="d-flex align-items-center gap-3">
            <a href="/" class="navbar-brand text-white">Home</a>
            <a th:href="@{/products}" class="navbar-brand text-white">Products</a>
        </div>
        <form class="d-flex gap-2" role="search" th:action="@{/products}" method="get">
            <input class="form-control" type="search" name="keyword" placeholder="Tìm kiếm sản phẩm..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<div th:fragment="footer" class="card-footer text-center">
    <p>&copy; 2025 - Phát triển ứng dụng với J2EE</p>
</div>
</body>
</html>
